<div *ngIf="formLoading" class="loader-container"> 
    <loaders-css [loader]="'ball-spin-fade-loader'" [loaderClass]="'my-loader'" ></loaders-css>
</div>

<form [formGroup]="sheqForm" *ngIf="!formLoading">
  <div class="SheqFormWrap">
    <div class="col-xs-12 col-md-2 col-sm-2">
      <span class="addCompTxt">Add a new complaint</span>
    </div>
    <div class="col-xs-12 col-md-10 col-sm-10 SheqFormFieldsWrap">
      <div data-type="complaint-form" formGroupName="userControls">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Date of Incident</label>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
              formControlName="dateOfIncident"></my-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Customer Number</label>
            <input type="text" class="form-control ulTxtBox"
              formControlName="customerNumber"
              (blur)="onCusomerNumberChange($event)"
              />
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Customer Name</label>
            <input type="text" class="form-control ulTxtBox"
              formControlName="customerName" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Contact Person</label>
            <input type="text" class="form-control ulTxtBox"
              formControlName="contactPerson" />
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Contact Person Designation</label>
            <input type="text" class="form-control ulTxtBox"
              formControlName="contactPersonDesignation" />
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Contact Number</label>
            <input type="phone" class="form-control ulTxtBox"
              formControlName="contactNumber" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-sm-6 form-group">
            <label class="form-label">Complaint Details</label>
            <textarea class="form-control ulTxtBox"
              formControlName="complaintDetails"></textarea>
          </div>
        </div>
        <div formArrayName="products" *ngFor="let product of products.controls;
          let i=index">
          <div class="row" [formGroupName]="i">

            <div class="col-xs-12 col-md-8 col-sm-8 prodDescriField">
              <div class="text-right removePackCode">
                <input type="button" value="X" (click)="onRemovePackCode(i)" />
              </div>
              <div class="col-xs-12 col-md-12 col-sm-12">
                <label class="form-label" attr.for="{{'packCodeID' + i}}">
                  <b>Pack Code {{i+1}}</b>
                </label>
                <input type="text" class="form-control ulTxtBox"
                  formControlName="packCode" id="{{'packCodeID' + i}}" />
              </div>
              <div class="col-xs-12 col-md-12 col-sm-12">
                <label class="form-label" attr.for="{{'productDescriptionID' +
                  i}}">Product Description</label>
                <textarea class="form-control ulTxtBox"
                  formControlName="productDescription"></textarea>
              </div>
              <div class="col-xs-12 col-md-12 col-sm-12">
                <label class="form-label" attr.for="{{'batchDetailsID' + i}}">Batch
                  Details
                </label>
                <input type="text" class="form-control ulTxtBox"
                  formControlName="batchDetails" id="{{'batchDetailsID' + i}}"
                  />
              </div>
              <div class="col-xs-12 col-md-6 col-sm-6">
                <label class="form-label" attr.for="{{'quantityUnitID' + i}}">Quantity
                  - Unit</label>
                <input type="number" class="form-control ulTxtBox"
                  formControlName="quantityUnit" id="{{'quantityUnitID' + i}}"
                  />
              </div>
              <div class="col-xs-12 col-md-6 col-sm-6">
                <label class="form-label" attr.for="{{'quantityShrinkID' +
                  i}}">Quantity - Shrink</label>
                <input type="number" class="form-control ulTxtBox"
                  formControlName="quantityShrink" id="{{'quantityShrinkID' +
                  i}}" />
              </div>
              <div class="col-xs-12 col-md-6 col-sm-6">
                <label class="form-label" attr.for="{{'quantityCasesID' +
                  i}}">Quantity - Cases</label>
                <input type="number" class="form-control ulTxtBox"
                  formControlName="quantityCases" id="{{'quantityCasesID' +
                  i}}" />
              </div>
              <div class="col-xs-12 col-md-6 col-sm-6">
                <label class="form-label" attr.for="{{'quantityPalletID' +
                  i}}">Quantity - Pallet</label>
                <input type="number" class="form-control ulTxtBox"
                  formControlName="quantityPallet" id="{{'quantityPalletID' +
                  i}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 text-right addPackCodeLink"
            *ngIf="products.length <5">
            <a href="javascript:;" (click)="addPackCode()">
              <span class="addPackCode">+ Add Pack Code</span>
            </a>
          </div>
        </div>
        <br/>
          <br/>
            <br/>
              <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                  <label class="form-label">Level 1</label>
                  <div class="ulSelectOutter">
                    <select class="ulSelect" [disableControl]="level1Disabled"
                      (change)="level1Change($event.target.value)"
                      formControlName="level1">
                      <option *ngFor="let option of level1Options"
                        value="{{option.value}}">{{option.label }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                  <label class="form-label">Level 2</label>
                  <div class="ulSelectOutter">
                    <select class="ulSelect" [disableControl]="level2Disabled"
                      (change)="level2Change($event.target.value)"
                      formControlName="level2">
                      <option *ngFor="let option of level2Options"
                        value="{{option.value}}">{{ option.label }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                  <label class="form-label">Level 3</label>
                  <div class="ulSelectOutter">
                    <select class="ulSelect" [disableControl]="level3Disabled"
                      (change)="level3Change($event.target.value)"
                      formControlName="level3">
                      <option *ngFor="let option of level3Options"
                        value="{{option.value}}">{{ option.label }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                  <label class="form-label">Level 4</label>
                  <div class="ulSelectOutter">
                    <select class="ulSelect" [disableControl]="level4Disabled"
                      (change)="level4Change($event.target.value)"
                      formControlName="level4">
                      <option *ngFor="let option of level4Options"
                        value="{{option.value}}">{{ option.label }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8 form-group">
                  <label class="form-label">Explanation</label>
                  <textarea class="form-control ulTxtBox"
                    formControlName="explanation"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8 form-group">
                  <label class="form-label">File Upload</label>
                  <div class="fileUploadBlock">
                    <label for="file-upload" class="custom-file-upload">
                      Choose File
                    </label>
                    <input id="file-upload" class="fileUpload hide"
                      name="upload_cont_img" type="file" accept="image/*"
                      formControlName="attachments"
                      (change)="onFildAdded($event)" />
                    <ul class="uploadedFileList">
                      <li class="uploadedFileName" *ngFor="let attachment of
                        attachments">
                        <a href="{{attachment.url ? attachment.url
                          :
                          '#'}}" download>
                          <span>{{attachment.name}}</span>
                        </a>
                        <span class="removeUploadedFile"
                          (click)="onRemoveAttachment(attachment)">X</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" formGroupName="scaControls"
              *ngIf="scaControlsVisible">
              <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                <label class="form-label">Production Site</label>
                <input type="text" class="form-control ulTxtBox"
                  formControlName="productionSite"
                  (blur)="onProductionSiteChange($event.target.value)"
                  />
              </div>
              <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                <label class="form-label">Person Responsible</label>
                <div class="">
                  <select class="ulSelect" formControlName="personResponsible"
                    multiple>
                    <option *ngFor="let option of personResponsibleOptions"
                      value="{{option.value}}">{{ option.label }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div data-type="approver-form" formGroupName="approverControls"
              *ngIf="approverControlsVisible" class="row approverCheck">
              <label class="form-label form-labelBig">Approval Check</label>
              <div class="col-xs-12 col-md-8 col-sm-8 prodDescriField">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6">
                    <label class="form-label">Invoice Number</label>
                    <input type="text" class="form-control ulTxtBox"
                      formControlName="invoiceNumber" />
                  </div>
                  <div class="col-xs-12 col-md-6 col-sm-6">
                    <label class="form-label">Invoice Value</label>
                    <input type="text" class="form-control ulTxtBox"
                      formControlName="invoiceValue" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-sm-6">
                    <label class="form-label">Last Delivery Date</label>
                    <my-date-picker name="mydate"
                      [options]="myDatePickerOptions"
                      formControlName="lastDeliveryDate"></my-date-picker>
                  </div>
                  <div class="col-xs-12 col-md-6 col-sm-6">
                    <label class="form-label">Approved</label>
                    <div class="ulSelectOutter">
                      <select class="ulSelect" formControlName="approvalStatus">
                        <option *ngFor="let option of approvalStatusOptions"
                          value="{{option.value}}">{{ option.label }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-12 col-sm-12">
                    <label class="form-label">Comments</label>
                    <textarea class="form-control ulTxtBox"
                      formControlName="comments"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div data-type="responsible-person-form"
              formGroupName="responsiblePersonControls"
              *ngIf="responsiblePersongsControlVisible">
              <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8 form-group">
                  <label class="form-label">Reason Code</label>
                  <div class="ulSelectOutter" *ngIf="!isReasonCodeDisabled">
                    <select class="ulSelect"
                      [disableControl]="isReasonCodeDisabled"
                      formControlName="reasonCode">
                      <option *ngFor="let reasonCode of reasonCodes"
                        value="{{reasonCode.value}}">{{ reasonCode.label }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8 form-group">
                  <label class="form-label">Root Cause</label>
                  <textarea class="form-control ulTxtBox"
                    formControlName="rootCause"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8 form-group">
                  <label class="form-label">Action Taken</label>
                  <textarea class="form-control ulTxtBox"
                    formControlName="actionTaken"></textarea>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="complaintStatusVisible">
              <div class="col-xs-12 col-md-4 col-sm-4 form-group">
                <label class="form-label form-labelBig">Complaint Status</label>
                <div class="ulSelectOutter">
                  <select class="ulSelect" formControlName="complaintStatus">
                    <option *ngFor="let option of complaintStatusOptions"
                      value="{{option.value}}">{{ option.label }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" formGroupName="buttons">
              <div class="col-xs-12 col-md-12 col-sm-12 form-group">
                <input type="button" class="ulBtn ulCancelBtn" value="Cancel"
                  formControlName="cancel" />
                <input type="button" class="ulBtn ulSubmitBtn" value="Submit"
                  (click)="onSubmit()" formControlName="save" />
              </div>
            </div>
          </div>
        </div>
      </form>