<div class="sheqFormTop row" [formGroup]="createButtons">
    <div class="col-xs-12 col-md-6 col-sm-6 text-left">
        <span class="upliftTitle"><a [href]="siteUrl">Uplift</a></span>
        <div class="upliftBreadcrum">
            <span class="upliftBreadcrumTxt activeBreadCrum" *ngIf="isSheq; else ncaBlock">
        SHEQ Complaint
      </span>
            <ng-template #ncaBlock>
                <span class="upliftBreadcrumTxt activeBreadCrum">
          NCA Complaint
        </span>
            </ng-template>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-6 text-right">
        <input type="button" value="+ Add NCA Complaint" [ngClass]="{'brownBtn':
      isSheq, 'disableBtn': !isSheq}" class="ulBtn" (click)="addNCA()" formControlName="nca" />
        <input type="button" value="+ Add SHEQ Complaint" [ngClass]="{'brownBtn':
      !isSheq, 'disableBtn': isSheq}" class="ulBtn" (click)="addSheq()" formControlName="sheq" />
    </div>
</div>
<div *ngIf="isSheq; else elseBlock">
    <app-sheq></app-sheq>
</div>
<ng-template #elseBlock>
    <app-nca></app-nca>
</ng-template>