<div *ngIf="formLoading" class="loader-container">
  <loaders-css [loader]="'ball-spin-fade-loader'" [loaderClass]="'my-loader'"></loaders-css>
</div>

<form [formGroup]="ncaForm">
  <div class="SheqFormWrap">
    <div class="col-xs-12 col-md-2 col-sm-2">
      <span class="addCompTxt">Add a new complaint</span>
    </div>
    <div class="col-xs-12 col-md-10 col-sm-10 SheqFormFieldsWrap">
      <div data-type="complaint-form" formGroupName="userControls">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Date of Incident *</label>
            <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="dateOfIncident"></my-date-picker>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.dateOfIncident').touched || 
                  ncaForm.get('userControls.dateOfIncident').dirty) && 
                  ncaForm.get('userControls.dateOfIncident').errors">
              <span *ngIf="ncaForm.get('userControls.dateOfIncident').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Plant Number *</label>
            <input type="text" class="form-control ulTxtBox" formControlName="plantNumber" (blur)="onPlantNumberChange($event)" />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.plantNumber').touched || 
                  ncaForm.get('userControls.plantNumber').dirty) && 
                  ncaForm.get('userControls.plantNumber').errors">
              <span *ngIf="ncaForm.get('userControls.plantNumber').errors.required">
                This field is required.
              </span>
            </span>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Plant Name *</label>
            <input type="text" class="form-control ulTxtBox" formControlName="plantName" />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.plantName').touched || 
                  ncaForm.get('userControls.plantName').dirty) && 
                  ncaForm.get('userControls.plantName').errors">
              <span *ngIf="ncaForm.get('userControls.plantName').errors.required">
                This field is required.
              </span>
            </span>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Plant Contact Name *</label>
            <input type="text" class="form-control ulTxtBox" formControlName="plantContactName" />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.plantContactName').touched || 
                  ncaForm.get('userControls.plantContactName').dirty) && 
                  ncaForm.get('userControls.plantContactName').errors">
              <span *ngIf="ncaForm.get('userControls.plantContactName').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Customer Number *</label>
            <input type="text" class="form-control ulTxtBox" formControlName="customerNumber" (blur)="onCusomerNumberChange($event)"
            />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.customerNumber').touched || 
                  ncaForm.get('userControls.customerNumber').dirty) && 
                  ncaForm.get('userControls.customerNumber').errors">
              <span *ngIf="ncaForm.get('userControls.customerNumber').errors.required">
                This field is required.
              </span>
            </span>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Customer Name *</label>
            <input type="text" class="form-control ulTxtBox" formControlName="customerName" />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.customerName').touched || 
                  ncaForm.get('userControls.customerName').dirty) && 
                  ncaForm.get('userControls.customerName').errors">
              <span *ngIf="ncaForm.get('userControls.customerName').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-sm-6 form-group">
            <label class="form-label">Complaint Details *</label>
            <textarea class="form-control ulTxtBox" formControlName="complaintDetails"></textarea>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.complaintDetails').touched || 
                  ncaForm.get('userControls.complaintDetails').dirty) && 
                  ncaForm.get('userControls.complaintDetails').errors">
              <span *ngIf="ncaForm.get('userControls.complaintDetails').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 prodDescriField">
            <div class="col-xs-12 col-md-12 col-sm-12">
              <label class="form-label" for="packCode1">
                <b>Pack Code *</b>
              </label>
              <input type="text" class="form-control ulTxtBox" formControlName="packCode1" id="packCode1" />
              <span class="help-block" *ngIf="(ncaForm.get('userControls.packCode1').touched || 
                  ncaForm.get('userControls.packCode1').dirty) && 
                  ncaForm.get('userControls.packCode1').errors">
                <span *ngIf="ncaForm.get('userControls.packCode1').errors.required">
                  This field is required.
                </span>
              </span>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12">
              <label class="form-label" for="productDescription1">Product Description *
              </label>
              <textarea class="form-control ulTxtBox" formControlName="productDescription1" id="productDescription1"></textarea>
              <span class="help-block" *ngIf="(ncaForm.get('userControls.productDescription1').touched || 
                  ncaForm.get('userControls.productDescription1').dirty) && 
                  ncaForm.get('userControls.productDescription1').errors">
                <span *ngIf="ncaForm.get('userControls.productDescription1').errors.required">
                  This field is required.
                </span>
              </span>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12">
              <label class="form-label" for="expiryDate">Expiry Date *</label>
              <my-date-picker name="expiryDate" [options]="myDatePickerOptions" formControlName="expiryDate" id="expiryDate"></my-date-picker>
              <span class="help-block" *ngIf="(ncaForm.get('userControls.expiryDate').touched || 
              ncaForm.get('userControls.expiryDate').dirty) && 
              ncaForm.get('userControls.expiryDate').errors">
                <span *ngIf="ncaForm.get('userControls.expiryDate').errors.required">
                  This field is required.
                </span>
              </span>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6">
              <label class="form-label" for="quantity">Quantity *</label>
              <input type="number" class="form-control ulTxtBox" formControlName="quantity" id="quantity" />
              <span class="help-block" *ngIf="(ncaForm.get('userControls.quantity').touched || 
                  ncaForm.get('userControls.quantity').dirty) && 
                  ncaForm.get('userControls.quantity').errors">
                <span *ngIf="ncaForm.get('userControls.quantity').errors.required">
                  This field is required.
                </span>
              </span>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6">
              <label class="form-label">&nbsp;</label>
              <div class="ulSelectOutter">
                <select class="ulSelect" formControlName="quantityUnit">
                  <option *ngFor="let option of quantityOptions" value="{{option.value}}">{{option.label }}</option>
                </select>
              </div>
              <span class="help-block" *ngIf="(ncaForm.get('userControls.quantityUnit').touched || 
                  ncaForm.get('userControls.quantityUnit').dirty) && 
                  ncaForm.get('userControls.quantityUnit').errors">
                <span *ngIf="ncaForm.get('userControls.quantityUnit').errors.required">
                  This field is required.
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label" for="remedyNumber">Remedy Number *</label>
            <input type="text" class="form-control ulTxtBox" formControlName="remedyNumber" id="remedyNumber" />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.remedyNumber').touched || 
            ncaForm.get('userControls.remedyNumber').dirty) && 
            ncaForm.get('userControls.remedyNumber').errors">
              <span *ngIf="ncaForm.get('userControls.remedyNumber').errors.required">
                This field is required.
              </span>
            </span>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label" for="deliveryNumber">Delivery Number *</label>
            <input type="text" class="form-control ulTxtBox" id="deliveryNumber" formControlName="deliveryNumber" />
            <span class="help-block" *ngIf="(ncaForm.get('userControls.remedyNumber').touched || 
            ncaForm.get('userControls.remedyNumber').dirty) && 
            ncaForm.get('userControls.remedyNumber').errors">
              <span *ngIf="ncaForm.get('userControls.remedyNumber').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Level 1 *</label>
            <div class="ulSelectOutter">
              <select class="ulSelect" [disableControl]="level1Disabled" (change)="level1Change($event.target.value)" formControlName="level1">
                <option *ngFor="let option of level1Options" value="{{option.value}}">{{option.label }}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.level1').touched || 
                  ncaForm.get('userControls.level1').dirty) && 
                  ncaForm.get('userControls.level1').errors">
              <span *ngIf="ncaForm.get('userControls.level1').errors.required">
                This field is required.
              </span>
            </span>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Level 2 *</label>
            <div class="ulSelectOutter">
              <select class="ulSelect" [disableControl]="level2Disabled" (change)="level2Change($event.target.value)" formControlName="level2">
                <option *ngFor="let option of level2Options" value="{{option.value}}">{{ option.label }}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.level2').touched || 
                  ncaForm.get('userControls.level2').dirty) && 
                  ncaForm.get('userControls.level2').errors">
              <span *ngIf="ncaForm.get('userControls.level2').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Level 3 *</label>
            <div class="ulSelectOutter">
              <select class="ulSelect" [disableControl]="level3Disabled" (change)="level3Change($event.target.value)" formControlName="level3">
                <option *ngFor="let option of level3Options" value="{{option.value}}">{{ option.label }}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.level3').touched ||
            ncaForm.get('userControls.level3').dirty) && 
            ncaForm.get('userControls.level3').errors">
              <span *ngIf="ncaForm.get('userControls.level3').errors.required">
                This field is required.
              </span>
            </span>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4 form-group">
            <label class="form-label">Level 4 *</label>
            <div class="ulSelectOutter">
              <select class="ulSelect" [disableControl]="level4Disabled" (change)="level4Change($event.target.value)" formControlName="level4">
                <option *ngFor="let option of level4Options" value="{{option.value}}">{{ option.label }}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.level4').touched || 
            ncaForm.get('userControls.level4').dirty) && 
            ncaForm.get('userControls.level4').errors">
              <span *ngIf="ncaForm.get('userControls.level4').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 form-group">
            <label class="form-label">Explanation *</label>
            <textarea class="form-control ulTxtBox" formControlName="explanation"></textarea>
            <span class="help-block" *ngIf="(ncaForm.get('userControls.explanation').touched || 
                  ncaForm.get('userControls.explanation').dirty) && 
                  ncaForm.get('userControls.explanation').errors">
              <span *ngIf="ncaForm.get('userControls.explanation').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 form-group">
            <label class="form-label">File Upload</label>
            <div class="fileUploadBlock">
              <label for="file-upload" class="custom-file-upload">
                Choose File
              </label>
              <input id="file-upload" class="fileUpload hide" name="upload_cont_img" type="file" accept="image/*" formControlName="attachments"
                (change)="onFildAdded($event)" />
              <ul class="uploadedFileList">
                <li class="uploadedFileName" *ngFor="let attachment of
                  attachments">
                  <a href="{{attachment.url ? attachment.url
                    :
                    '#'}}" download>
                    <span>{{attachment.name}}</span>
                  </a>
                  <span class="removeUploadedFile" (click)="onRemoveAttachment(attachment)">X</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row" formGroupName="scaControls" *ngIf="scaControlsVisible">
        <div class="col-xs-12 col-md-4 col-sm-4 form-group">
          <label class="form-label">Production Site *</label>
          <input type="text" class="form-control ulTxtBox" formControlName="productionSite" (blur)="onProductionSiteChange($event.target.value)"
          />
          <span class="help-block" *ngIf="(ncaForm.get('scaControls.productionSite').touched || 
          ncaForm.get('scaControls.productionSite').dirty) && 
          ncaForm.get('scaControls.productionSite').errors">
            <span *ngIf="ncaForm.get('scaControls.productionSite').errors.required">
              This field is required.
            </span>
          </span>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4 form-group">
          <label class="form-label">Person Responsible *</label>
          <div class="">
            <select class="ulSelect" formControlName="personResponsible" multiple>
              <option *ngFor="let option of personResponsibleOptions" value="{{option.value}}">{{ option.label }}</option>
            </select>
          </div>
        </div>
      </div>
      <div data-type="responsible-person-form" formGroupName="responsiblePersonControls" *ngIf="responsiblePersongsControlVisible">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 form-group">
            <label class="form-label">Reason Code *</label>
            <div class="ulSelectOutter" *ngIf="!isReasonCodeDisabled">
              <select class="ulSelect" [disableControl]="isReasonCodeDisabled" formControlName="reasonCode">
                <option *ngFor="let reasonCode of reasonCodes" value="{{reasonCode.value}}">{{ reasonCode.label }}</option>
              </select>
            </div>
            <span class="help-block" *ngIf="(ncaForm.get('responsiblePersonControls.reasonCode').touched || 
                  ncaForm.get('responsiblePersonControls.reasonCode').dirty) && 
                  ncaForm.get('responsiblePersonControls.reasonCode').errors">
              <span *ngIf="ncaForm.get('responsiblePersonControls.reasonCode').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 form-group">
            <label class="form-label">Root Cause *</label>
            <textarea class="form-control ulTxtBox" formControlName="rootCause"></textarea>
            <span class="help-block" *ngIf="(ncaForm.get('responsiblePersonControls.rootCause').touched || 
                  ncaForm.get('responsiblePersonControls.rootCause').dirty) && 
                  ncaForm.get('responsiblePersonControls.rootCause').errors">
              <span *ngIf="ncaForm.get('responsiblePersonControls.rootCause').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-sm-8 form-group">
            <label class="form-label">Action Taken *</label>
            <textarea class="form-control ulTxtBox" formControlName="actionTaken"></textarea>
            <span class="help-block" *ngIf="(ncaForm.get('responsiblePersonControls.actionTaken').touched || 
                  ncaForm.get('responsiblePersonControls.actionTaken').dirty) && 
                  ncaForm.get('responsiblePersonControls.actionTaken').errors">
              <span *ngIf="ncaForm.get('responsiblePersonControls.actionTaken').errors.required">
                This field is required.
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="complaintStatusVisible">
        <div class="col-xs-12 col-md-4 col-sm-4 form-group">
          <label class="form-label form-labelBig">Complaint Status</label>
          <div class="ulSelectOutter">
            <select class="ulSelect" formControlName="complaintStatus">
              <option *ngFor="let option of complaintStatusOptions" value="{{option.value}}">{{ option.label }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" formGroupName="buttons">
        <div class="col-xs-12 col-md-12 col-sm-12 form-group">
          <input type="button" class="ulBtn ulCancelBtn" value="Cancel" (click)="onCancel()" formControlName="cancel" />
          <input type="button" class="ulBtn ulSubmitBtn" value="Submit" (click)="onSubmit()" formControlName="save" [disableControl]="!ncaForm.valid"
          />
        </div>
      </div>
    </div>
  </div>
</form>